*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table.fixed {
    table-layout: fixed;
}
table.fixed td {
    overflow: hidden;
}


table th {
    width: auto;
    text-align: center;
}

table td {
    overflow: auto;
    text-align: center;
}

th,
td {
    white-space: nowrap;
    padding: 0.5rem;
}

th {
    background: rgba(0, 0, 0, 0.1);
}

tbody tr:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}

h1 {
    text-align: center;
}
